html,body,div,section,button,input,textarea,form,p,br,img,a,h1,h2,h3,h4,h5,h6,hr,dl{
	padding:0;
	margin:0;
	border:none;
	outline:0 !important;
	box-sizing:border-box !important;
	font-size:inherit;
	font-family: inherit;
	color:inherit;
	text-shadow: inherit;
	-webkit-font-smoothing:antialiased;
	flex-flow:column nowrap;
	justify-content:center;
	align-content:center;
	align-items:center;
	flex-shrink: 0;
	overflow-x: hidden;
}
html,body,div,section,button,input,form{
	display:flex;
	text-align:center;
	white-space:pre-line;
}
a,a:visited{
	color:rgb(30,160,210);
	text-decoration:none;
}a:hover,a:active{
	color:rgb(72,172,240);
	text-decoration:underline;
}button:hover,button:active, a:hover,a:active{
	cursor:pointer;
}
::-webkit-scrollbar {
	width: 1.5vh;
	box-shadow: inset 0 0 1vh rgba(0,0,0,0.3);
	background: rgba(50,230,255,0.1);
}
/*::-webkit-scrollbar-button{}::-webkit-scrollbar-track{}::-webkit-scrollbar-track-piece{}*/
::-webkit-scrollbar-thumb {
	z-index: 9001;
	background: rgba(9,160,220,0.9) content-box;
	border: 0.3vh solid transparent;
	border-right-width: 0.21vh;
	border-radius: 0.7vh;
	box-shadow: inset 0 0 1vh rgba(255,255,255,0.4);
}
::-webkit-scrollbar-thumb:hover{
	background-color: rgba(24,192,230,0.9);
	box-shadow: inset 0 0 1vh rgba(250,250,250,0.5), inset 0 0 0.1vh 0.2vh rgba(99,220,240,0.8);
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}


button{
	border: 0.16em solid rgba(250,250,250,0.9);
}
html, body {
	height: 100%;
	width: 100%;
	font-family: 'Source Sans Pro',Arial,sans-serif;
	overflow: hidden !important;
	background: rgb(9,9,9);
}
#umbrella{
	z-index: 88;
	width: 100%;
	height: 100%;
	text-shadow: 0 0 0.1em #222;
}
#navCon{
	z-index: 9;
	font-size: 2.4vh;
	min-height: 6vh;
	height: 3em;
	width: 100%;
	flex-flow: row nowrap;
	align-items: flex-end;
	padding: 0 0.4em 0.1em;
	color: #ddd;
	background: rgba(56,172,255,0.3);
	background: linear-gradient(to bottom, rgba(56,172,255,0.3) 0%, rgba(56,172,255,0.6) 96%);
/*	border-bottom: 0.2vh solid rgba(56,192,255,0.7);*/
}
#navCon>button{
	height: 2.1em;
	width: 2.1em;
	max-height: 100%;
	max-width: 100%;
	margin: 0 0.3em;
	background: rgba(92,64,255,0.9);
/*	border: 0.16em solid rgba(250,250,250,0.9);*/
	border-radius: 48%;
}#navCon>button:hover,#navCon>.activeButt{
	font-size: 123%;
	font-weight: bold;
	border-color: gold;
	color: rgb(240,215,9);
}#navCon>button:hover{
	box-shadow: 0 0 0 0.2vh rgb(240,215,9), 0 0 0.1vh 0.3vh rgba(240,215,9,0.4);
}
#navCon>.activeButt:hover{
	box-shadow: none;
}
#navCon>button:active{
	font-size: 117%;
	color: rgb(250,220,36);
	background: rgba(56,24,192,1);
	box-shadow: none;
}
/*#scrollNav{
	width:100%;
	height:0.6vh;
	background:transparent;
	justify-content:flex-end;
}
#scrollNav div{
	min-width: 9%;
	height: 0.3vh;
	border: 0 solid #000;
	border-radius: 75% 75% 0 0;
	background: rgb(9,220,220);
	box-shadow: 0 0 0.1vh 0.2vh rgb(9,235,230);
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all 0.3s ease;
}*/

#pageCon{
	z-index: 8;
	font-size: 1.6vh;
	width: 100%;
	height: 100%;
	max-height: 96%;
	flex-shrink: 1;
	overflow-x: hidden;
	overflow-y: auto;
	justify-content: flex-start;
}

.aPage{
	min-height: 73vh;
/*		min-height: min-intrinsic;
	height: -moz-max-content;
	height: min-content;*/
	width: 75%;
	padding: 1.4vh 0;
	margin-bottom: 4vh;
	justify-content: flex-start;
	display: none;
	color: rgb(220,232,228);
	background: rgba(0,0,0,0.7);
	background: linear-gradient(to bottom, rgba(0,24,56,0.5) 4vh, rgba(0,4,9,0.9) 13vh);
	border: 0.2vh solid rgba(230,255,255, 0.2);
	border-top-width: 0;
	border-radius: 0 0 1vh 1vh;

}
#pageCon .activePage{
	display: flex;
}


.aPage>div{
	width: 96%;
	padding-bottom: 1em;
}
.pageHead{
	margin-bottom: 2vh;
	border-bottom: 0.2vh solid rgba(250,250,250,0.6);
	font-size: 210%;
}
.pageHead>p:last-child{
	font-size: 45%;
	color: #ddd;
}
.pageHead a{
	font-weight: bold;
}
.pageHead a:before{
	content: 'Assignment ';
}
.pageMeat{
	margin-bottom: 1em;
	justify-content: space-around;
	font-size: 100%;
}
.pageMeat>section{
	width: 100%;
	margin: 1.6em 0;
	text-align: left;
	align-items: flex-start;
}
.pageMeat .small{
	font-size: 65%;
}
.pageMeat .black{
	color: rgba(0,0,0,0);
	text-shadow: none;
}



.pageMeat section>p:first-child{
	font-size: 120%;
	font-weight: bold;
	color: rgb(233,245,240);
	white-space: nowrap;
}


dd{
	margin-left: 1.9em;
}


section p {
	max-height: 100%;
	max-width: 100%;
}

#p1 section:first-child>p:first-child{
	margin-bottom: 0.4em;
}
#bradBon:hover{
	cursor: pointer;
}
#bradBon:before{
	content: 'Bonjourno';
}
#bradBon:hover:before{
	content: 'Bawnjorno';
}
.ratioPic{
	width: 100%;
	border: 0.24vh solid rgba(255,215,55,0.4);
	margin-top: 1em;
}
/*
#a2{
}
#a3{}
#a4{}
#a5{}
#a6{}
#a7{}
#a8{}
#a9{}
#a10{}
#a11{}
*/





hr{
	min-height: 1px;
	height: 0.1vh;
	width: 100%;
	background: rgba(240,242,242,0.8);
}

/* comment styles ___________________________________________________________________________*/

#pageCon .commentBox{
	margin-top: auto;
	min-height: 13vh;
	margin-bottom: 2vh;
	padding: 1% 0% 0;
	align-items: flex-start;
	justify-content: space-between;;
	color: #eee;
	background: rgba(92,192,180,0.9);
/*	border: 0.4vh solid rgba(42,113,145,0.9);*/
	box-shadow: 0 0 0 0.3vh rgba(42,113,145,0.9);
	border-radius: 0.8vh;
}

.commentBox > *{
	padding-left: 2%;
	padding-right: 3%;
}

.commentBox>h4{
	font-size: 133%
}


.commentsCon{
	width: 100%;
	flex-grow: 2;
	align-items: flex-start;
	margin: 0.5em 2% 0.7em;
}
.commentsCon:empty:before{
	content:'none yet  \2639';
}

.aComment{
	width: 100%;
	margin-bottom: 1.2em;
	align-items: flex-start;
}
.aComment>*{
	min-height: 1em;
	height: 100%;
	width: 99%;
	max-width: 100%;
	flex-flow: row wrap;
}.aComment *{
	justify-content: flex-start;
	text-align: left;
}
.commentMeta{
	flex-grow: 2;
	max-height: 5em;
	align-items: baseline;
}
.commentWho{
	margin-right: 0.5em;
	font-size: 113%;
}
.commentWhen{
	font-size: 80%;
	opacity: 0.9;
}
.commentWhen:hover{
	opacity: 1;
}
.commentMeat{
	padding-left: 1%;
	color: #222;
	text-shadow: none;
	white-space: pre-wrap;
	word-break: break-all;

}


.addComment{
	height: auto;
	width: 100%;
	padding: 1em 0;
	flex-flow: row wrap;
	align-items: baseline;
	position: relative;
}
.addComment>*{
	padding-left: 2%;
	padding-right: 2%;
	width: 100%;
}
.overlay{
	position: absolute;
	padding: 0;
	top: 0; right: 0; bottom: 0; left: 0;
	background: #111;
	opacity: 0.97;
}.overlay *{
	display: flex;
	height: 100%;
	width: 100%;
	white-space: pre-line;
}
.textBox,
.textBox *{
	display: block;
	text-align: left;
	margin-top: 0.08em;
}.textBox{
	min-height: 3em;
	width: 100%;
	border-radius: 0.5vh;
	border: 0.3vh solid rgba(0,0,0,0.1);
	background: #fff;
	padding: 0.3em 0.5em 0.4em;
	color: #000;
	text-shadow: none;
}
.textBox:hover, .textBox:focus{
	border-color: rgba(36,192,220,0.9);
}
.textBox:empty:before{
	content: 'enter new comment...';
	font-size: 92%;
}
.addComControls{
	min-height: 3em;
	margin-top: 0.4em;
	flex-flow: row nowrap;
	align-items: baseline;
}
.addCommentButt{
	margin-right: 1%;
	padding: 0.3em;
	border-width: 0.25em;
	border-radius: 0.5em;
	color: #eee;
	background: rgba(38,110,144,0.9);
}
.addCommentButt:hover{
	color: #fff;
	background: rgba(28,99,140,1);
}
.zUser{
	flex-flow: row nowrap;
	margin-right: 1%;
	margin-left: auto;
	align-items: baseline;
	font-size: 120%;
	color: rgba(225,215,0,1);
	white-space: pre-wrap;
}
/*.zUser:hover{
	text-decoration: underline;
	cursor: pointer;
}
.zUser:hover:before{
	content: '\2b10';
}*/














#aCon{
	z-index: 99;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 2.2vh;
	width: auto;
	height: auto;
	border-top-right-radius: 1em;
	background: rgba(230,255,255,0.2);
	flex-flow: row nowrap;
	justify-content: space-around;
	padding: 0.3em 0.4em 0.3em 0.2em;
	color: #fff;
}#aCon:hover{
	background: rgba(128,220,220,0.5);
}
#aCon *{
	font-size: inherit;
}
#aCon>button{
	margin-left: 0.4em;
	height: 2em;
	width: 2.1em;
	background: rgb(58,38,128);
/*	border: 0.16em solid rgba(250,250,250,0.9);*/
	border-radius: 42%;
	opacity: 0.5;
}#aCon>button:hover{
	opacity: 1;
}#aCon>button:active{
	font-size: 92%;
	background: rgb(36,20,96);
	border-color: gold;
	color: gold;
}






@media (max-aspect-ratio:3/4), (max-width: 727px) {
	#navCon{
		font-size: 3.2vh;
	}
	.aPage{
		width: 100%;
		font-size: 2vh;
		border-left-width: 0;
		border-right-width: 0;
		margin-bottom: 7vh;
	}
	#aCon{
		font-size: 3.6vh;
	}
}




#canvas{
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}